<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>


		<!--<property name="hibernate.connection.autoReconnect">true</property> 
			<property name="hibernate.connection.autoReconnectForPools">true</property> 
			<property name="hibernate.connection.characterEncoding">utf8</property> <property 
			name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
			<property name="hibernate.connection.is-connection-validation-required">true</property> 
			<property name="hibernate.connection.password">baoxuetech</property> <property 
			name="hibernate.connection.url">jdbc:mysql://localhost:3306/baoxue</property> 
			<property name="hibernate.connection.useUnicode">true</property> <property 
			name="hibernate.connection.username">baoxue</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.myeclipse.connection.profile">baoxue</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.show_sql">true</property>


		<!-- druidpro -->
		<property name="hibernate.connection.provider_class">com.alibaba.druid.support.hibernate.DruidConnectionProvider</property>
		<property name="url">jdbc:mysql://192.168.1.4:3306/baoxue?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="username">baoxue</property>
		<property name="password">baoxuetech</property>
		<property name="driverClassName">com.mysql.jdbc.Driver</property>
		<property name="removeAbandoned">true</property> <!-- 打开removeAbandoned功能 -->
		<property name="removeAbandonedTimeout">1800</property><!-- 1800秒，也就是30分钟 -->
		<property name="logAbandoned">true</property> <!-- 关闭abanded连接时输出错误日志 -->

		<mapping class="com.baoxue.db.TDoPackageUpdateLog" />
		<mapping class="com.baoxue.db.TPackageUpdate" />
		<mapping class="com.baoxue.db.TUsers" />
		<mapping class="com.baoxue.db.TTaskItem" />
		<mapping class="com.baoxue.db.TDoTaskLog" />
		<mapping class="com.baoxue.db.TTask" />
	</session-factory>
</hibernate-configuration>
